*.a
*.o
*.tmp
*.log
bin/autorun/autorun
bin/checker/checker
bin/dhcomp/dhcomp
bin/dhgen/dhgen
bin/file2hex/file2hex
bin/indexgen/indexgen
bin/ivcomp/ivcomp
bin/pktbuf/pktbuf
bin/pktctl/pktctl
bin/pktlint/pktlint
bin/pktrecv/pktrecv
bin/pktsend/pktsend
bin/prfcomp/prfcomp
bin/sigcomp/sigcomp
bin/x509dec/x509dec
lib/pkt/PzParse.cc
lib/pkt/PzParse.h
script/pmod/Expect/Makefile.tmp
script/pmod/Expect/blib/
script/pmod/Expect/pm_to_blib
script/pmod/IO-Stty/Makefile.tmp
script/pmod/IO-Stty/blib/
script/pmod/IO-Stty/pm_to_blib
script/pmod/IO-Tty/Makefile.tmp
script/pmod/IO-Tty/Tty.bs
script/pmod/IO-Tty/Tty.c
script/pmod/IO-Tty/Tty/
script/pmod/IO-Tty/blib/
script/pmod/IO-Tty/conf/
script/pmod/IO-Tty/pm_to_blib
script/pmod/IO-Tty/xssubs.c
script/pmod/V6evalCommon/Makefile.tmp
script/pmod/V6evalCommon/blib/
script/pmod/V6evalCommon/pm_to_blib
script/pmod/V6evalRemote/Makefile.tmp
script/pmod/V6evalRemote/blib/
script/pmod/V6evalRemote/pm_to_blib
script/pmod/V6evalTool/Makefile.tmp
script/pmod/V6evalTool/blib/
script/pmod/V6evalTool/pm_to_blib
